export default {
  apiKey: '',
  apiSecret: '',

  symbol: 'ADAUSDT',
  fixedPrice: 3, // Количество знаков после запятой для цены за монету
  fixedCoin: 1, // Количество знаков после запятой для количества монет (подробнее: https://www.binance.com/ru/trade-rule)
  minQuantity: 0.1, // Минимальный шаг в покупке монет (подробнее: https://www.binance.com/ru/trade-rule)

  candleSteps: 15, // Сколько шагов в свече брать для вычисления средней суммы (один шаг - одна минута)
  jumpSteps: 3, // Сколько шагов в свече брать для вычисления скачка (один шаг - одна минута) (не больше candleStepsи не меньше 2)
  buy: 10, // На сколько долларов покупать монет (может купить больше указанной суммы, но не меньше)
  binanceCommission: 0.1, // Комиссия binance за ордер
  profitPercent: 0.3, // Какой процент прибыли выставлять при генерации цены на продажу монет
  checkOrderMs: 3000, // Количество миллисекунд между перепроверкой ордеров
};
