export default {
  // Метка: adikalon
  apiKey: '',
  apiSecret: '',

  symbol: 'ADAUSDT',
  buy: 10, // На сколько долларов покупать монет (может купить больше указанной суммы, но не меньше)

  candleSteps: 15, // Сколько шагов в свече брать для вычисления средней суммы (один шаг - одна минута)
  waveSteps: 3, // Сколько шагов в свече брать для вычисления волны (один шаг - одна минута) (не больше candleSteps и не меньше 2)
  profitPercent: 0.3, // Какой процент прибыли выставлять при генерации цены на продажу монет
  checkOrderMs: 3000, // Количество миллисекунд между перепроверкой ордеров
};
